{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">

    <h1>Connect / Register</h1>
    Connection:<br>
    <iframe src="/member/connect" width="500" height="500" class="ifr">

    </iframe><br>

    Create account<br>
    <iframe src="/member/new" width="500" height="500" class="ifr">

    </iframe>
</div>
{% endblock %}
