{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .ifr {border: none}
</style>

<div class="example-wrapper">
    <h1>Connect / Register</h1>
    Connection:<br>
    <iframe src="/member/connect" width="500" height="500" class="ifr">

    </iframe><br>

    Create account<br>
    <iframe src="/member/new" width="500" height="500" class="ifr">

    </iframe>
</div>
{% endblock %}
